---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications_by_date = site.publications | sort: "date" | reverse %}

<h2>First-author Publications</h2><hr />
{% for post in publications_by_date %}
  {% if post.first_author %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Other Publications</h2><hr />
{% for post in publications_by_date %}
  {% unless post.first_author %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}



